/*---------------------------------------------------
Base
---------------------------------------------------*/

.wrap {
	/* overflow: hidden; */
	position: absolute;
    top: 450px;
    right: 0;
    bottom: 0;
    left: 0;
}


.pages_animation {
	transition: transform 1s cubic-bezier(0.4, 0, 0, 0.99);
}



/*---------------------------------------------------
Pagination
---------------------------------------------------*/
.nav_dots {
    height: 30%;
    width: 1rem;
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: 5%;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-transform: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.nav_dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: black;
}

.nav_dot:hover {
    background: gray;
    -webkit-transition: all 0.8s;
       -moz-transition: all 0.8s;
        -ms-transition: all 0.8s;
         -o-transition: all 0.8s;
            transition: all 0.8s;
}

.active_dot::before {
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: block;
    background: white;
    -ms-transform: translate(-30%, -30%);
    -webkit-transform: translate(-30%, -30%);
    transform: translate(-30%, -30%);
    -webkit-transition: all 1s;
       -moz-transition: all 1s;
        -ms-transition: all 1s;
         -o-transition: all 1s;
            transition: all 1s;
}

/*---------------------------------------------------
Icom mouse
---------------------------------------------------*/
.icon_mouse {
    width: 26px;
    height: 43px;
    border: 1px solid white;
    border-radius: 25px;
    opacity: 0.75;
    position: absolute;
    left: 50%;
    bottom: 5%;
    -ms-transform: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.icon_mouse::before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 7px;
    margin: 6px 8.8px;
    background-color: white;
    -webkit-animation-name: wheel;
    animation-name: wheel;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes wheel {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(16px);
        transform: translateY(16px);
        opacity: 0;
    }
}

@keyframes wheel {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(16px);
        transform: translateY(16px);
        opacity: 0;
    }
}